.slideshow-slides
  = link_to image_tag('noname.png',width:'1600', height:'290'),'./', class:'slide'
  = link_to image_tag('camping.png',width:'1600', height:'290'),'./', class:'slide'
  = link_to image_tag('apri.png',width:'1600', height:'290'),'./', class:'slide'
.slideshow-nav
  = link_to 'Prev', './', class: 'prev'
  = link_to 'Next', './', class: 'next'
.slideshow-indicator