.head
.main
  .main__contets
    .main__contents__header
      .main__contents__header__logo
        =link_to ".." do
          = image_tag  "fmarket_logo_red.svg",class:"logo"
    .main__contents__item
      .main__contents__item__bottom
        .main__contents__item__bottom__box
          .main__contents__item__bottom__box__head 商品の情報を入力
          = form_for @item, url: update_path do |f|
            .main__contents__item__bottom__box__head__form
              .main__contents__item__bottom__box__head__form__box
                .main__contents__item__bottom__box__head__form__box__text
                  .main__contents__item__bottom__box__head__form__box__text__cover 商品画像
                  .main__contents__item__bottom__box__head__form__box__text__logo 必須
                .main__contents__item__4rbottom__box__head__form__box__text__texts 最大10枚までアップロードできます
                .post__drop__box__container
                  .prev-content
                    - @item.images.each do |image|
                      .preview-box
                        .upper-box
                          = image_tag image.image.url, width: "112", height: "112", alt: "preview"
                        .lower-box
                          .update-box
                            %label.edit-btn 編集
                          .delete-box
                            .delete-btn
                              %span 削除
                  .label-content
                    = f.label :"images_attributes_#{@item.images.length}_image", class: "label-box", id: "label-box--#{@item.images.length}" do
                      %pre.label-box__text-visible クリックしてファイルをアップロード
                  .hidden-content
                    = f.fields_for :images do |i|
                      = i.file_field :image, class: "hidden-field"
                      = i.check_box:_destroy, class: "hidden-checkbox"
                    - @item.images.length.upto(4) do |i|
                      %input{name: "item[images_attributes][#{i}][image]", id: "item_images_attributes_#{i}_image", class:"hidden-field", type:"file"}
            .main__contents__item__bottom__box__head__form__goods
              .main__contents__item__bottom__box__head__form__goods__name
                .main__contents__item__bottom__box__head__form__goods__name__label 商品名
                .main__contents__item__bottom__box__head__form__goods__name__label__logo 必須
              .main__contents__item__bottom__box__head__form__goods__name__box
                = f.text_field :name, placeholder: "商品名（必須40文字まで）", type: "text", max_length: 40, class: "name-box", id: "new_item"
              .main__contents__item__bottom__box__head__form__goods__explain
                .main__contents__item__bottom__box__head__form__goods__explain__label 商品の説明
                .main__contents__item__bottom__box__head__form__goods__explain__label__logo 必須
              .main__contents__item__bottom__box__head__form__goods__explain__box
                = f.text_area :body, placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', class: "explain-box"
            .main__contents__item__bottom__box__head__form__goods__detail
              .main__contents__item__bottom__box__head__form__goods__detail__label 商品の詳細
              .main__contents__item__bottom__box__head__form__goods__detail__group
                .main__contents__item__bottom__box__head__form__goods__detail__group__category
                  .main__contents__item__bottom__box__head__form__goods__detail__group__category__cover カテゴリー
                  .main__contents__item__bottom__box__head__form__goods__detail__group__category__cover__logo 必須
                .main__contents__item__bottom__box__head__form__goods__detail__group__add
                  .main__contents__item__bottom__box__head__form__goods__detail__group__add__select
                    .main__contents__item__bottom__box__head__form__goods__detail__group__add__select__box{id: "parent_categorybox"}
                      .main__contents__item__bottom__box__head__form__goods__detail__group__add__select__box__bottom
                      = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {selected: @categorygrandparent.id}, {id: "parent_category"}
                    .main__contents__item__bottom__box__head__form__goods__detail__group__add__select__box{id: "child_categorybox"}
                      .main__contents__item__bottom__box__head__form__goods__detail__group__add__select__box__bottom
                      = f.collection_select :category_id, @cateogryparent_group, :id, :name, {selected: @categoryparent.id}, {id: "child_category"}
                    .main__contents__item__bottom__box__head__form__goods__detail__group__add__select__box{id: "grandchild_categorybox"}
                      .main__contents__item__bottom__box__head__form__goods__detail__group__add__select__box__bottom
                      = f.collection_select :category_id, @categorygrandparent_group, :id, :name,{selected: @category.id}, {id: "grandchild_category"}
                .main__contents__item__bottom__box__head__form__goods__detail__group__condition
                  .main__contents__item__bottom__box__head__form__goods__detail__group__condition__cover 商品の状態
                  .main__contents__item__bottom__box__head__form__goods__detail__group__condition__cover__logo 必須
                .main__contents__item__bottom__box__head__form__goods__detail__group__selects
                  .main__contents__item__bottom__box__head__form__goods__detail__group__selects__box
                    .main__contents__item__bottom__box__head__form__goods__detail__group__selects__box__bottom
                      = f.select :condition, Item.conditions.keys.to_a, { include_blank: "---" }, {id:"size_category"}
            .main__contents__item__bottom__box__head__form__goods__delivery
              .main__contents__item__bottom__box__head__form__goods__delivery__label 配送について
              =link_to "#",class:"main__contents__item__bottom__box__head__form__goods__delivery__question"do
                ?
              .main__contents__item__bottom__box__head__form__goods__delivery__group
                .main__contents__item__bottom__box__head__form__goods__delivery__group__category
                  .main__contents__item__bottom__box__head__form__goods__delivery__group__category__cover 配送料の負担
                  .main__contents__item__bottom__box__head__form__goods__delivery__group__category__cover__logo 必須
                .main__contents__item__bottom__box__head__form__goods__delivery__group__select
                  .main__contents__item__bottom__box__head__form__goods__delivery__group__select__box
                    .main__contents__item__bottom__box__head__form__goods__delivery__group__select__box__bottom
                      = f.select :burden, Item.burdens.keys, { include_blank: "---" }
                .main__contents__item__bottom__box__head__form__goods__delivery__group__condition
                  .main__contents__item__bottom__box__head__form__goods__delivery__group__condition__cover 発送元の地域
                  .main__contents__item__bottom__box__head__form__goods__delivery__group__condition__cover__logo 必須
                .main__contents__item__bottom__box__head__form__goods__delivery__group__selects
                  .main__contents__item__bottom__box__head__form__goods__delivery__group__selects__box
                    .main__contents__item__bottom__box__head__form__goods__delivery__group__selects__box__bottom
                      = f.select :region, Item.address_prefectures.keys.to_a
                .main__contents__item__bottom__box__head__form__goods__delivery__group__condition
                  .main__contents__item__bottom__box__head__form__goods__delivery__group__condition__cover 発送までの日数
                  .main__contents__item__bottom__box__head__form__goods__delivery__group__condition__cover__logo 必須
                .main__contents__item__bottom__box__head__form__goods__delivery__group__selects
                  .main__contents__item__bottom__box__head__form__goods__delivery__group__selects__box
                    .main__contents__item__bottom__box__head__form__goods__delivery__group__selects__box__bottom
                    = f.select :sending_days, nil,{ prompt: '---' } do
                      %option{value:"1〜2日で発送"}1〜2日で発送
                      %option{value:"2〜3日で発送"}2〜3日で発送
                      %option{value:"4〜7日で発送"}4〜7日で発送
            .main__contents__item__bottom__box__head__form__goods__price
              .main__contents__item__bottom__box__head__form__goods__price__label 販売価格(300〜9,999,999)
              =link_to "#",class:"main__contents__item__bottom__box__head__form__goods__price__question"do
                ?
              .main__contents__item__bottom__box__head__form__goods__price__group
                .main__contents__item__bottom__box__head__form__goods__price__group__category
                  %li.main__contents__item__bottom__box__head__form__goods__price__group__category__box
                    .main__contents__item__bottom__box__head__form__goods__price__group__category__box__bottom
                      .main__contents__item__bottom__box__head__form__goods__price__group__category__box__bottom__cover
                        .main__contents__item__bottom__box__head__form__goods__price__group__category__box__bottom__cover__text 価格
                        .main__contents__item__bottom__box__head__form__goods__price__group__category__box__bottom__cover__logo 必須
                      .main__contents__item__bottom__box__head__form__goods__price__group__category__box__en 
                        .main__contents__item__bottom__box__head__form__goods__price__group__category__box__en__left ¥
                        .main__contents__item__bottom__box__head__form__goods__price__group__category__box__en__input
                          = f.text_field :price, {placeholder: "例）300", class: "price-box"}
                  %li.main__contents__item__bottom__box__head__form__goods__price__group__category__commission
                    .main__contents__item__bottom__box__head__form__goods__price__group__category__commission__left
                    .main__contents__item__bottom__box__head__form__goods__price__group__category__commission__left__text 販売手数料 (10%)
                    .main__contents__item__bottom__box__head__form__goods__price__group__category__commission__right -
                  %li.main__contents__item__bottom__box__head__form__goods__price__group__category__profit
                    .main__contents__item__bottom__box__head__form__goods__price__group__category__profit__left 販売利益
                    .main__contents__item__bottom__box__head__form__goods__price__group__category__profit__right -
            .main__contents__item__bottom__box__head__form__goods__precaution
              .main__contents__item__bottom__box__head__form__goods__precaution__box
                .main__contents__item__bottom__box__head__form__goods__precaution__box__line
                  =link_to '禁止されている商品',class:"main__contents__item__bottom__box__head__form__goods__precaution__box__line__text"
                  =link_to '行為',class:"main__contents__item__bottom__box__head__form__goods__precaution__box__line__text"
                  を必ずご確認ください。
                .main__contents__item__bottom__box__head__form__goods__precaution__box__line
                  またブランド品でシリアルナンバー等がある場合はご記載ください
                  =link_to '偽ブランドの販売',class:"main__contents__item__bottom__box__head__form__goods__precaution__box__line__text"
                  は犯罪であり処罰される可能性があります。
                .main__contents__item__bottom__box__head__form__goods__precaution__box__line
                  また、出品をもちまして
                  =link_to '加盟店規約',class:"main__contents__item__bottom__box__head__form__goods__precaution__box__line__text"
                  に同意したことになります。
              %button.btn__default.btn--red
                = f.hidden_field :status, value:'0'
                = f.submit "変更する", class: "submit__button"
              = link_to root_path, class: "btn--gray"do
                もどる
  = render "signup/footer"