.header
  = render "header"
.body_main
.main__item__box
  .main__item__box__list
    .main__item__box__list__women
      .main__item__box__list__women__header
        .main__item__box__list__women__header__title
          #{@category.name}の商品一覧
      %ul.main__item__box__list__women__item
        - @items.each do |item|
          %li.main__item__box__list__women__item__box
            .main__item__box__list__women__item__box__in
              =link_to items_path ,class:"main__item__box__list__women__item__box__tag" do
                - if item.status == 1
                  %figure.main__item__box__list__women__item__box__image
                    = image_tag item.images[0].image_url,{width:'100%' , height:'100%'} 
                    .main__item__box__list__women__item__box__image__place            
                      .main__item__box__list__women__item__box__image__place__language
                        ¥#{item.price.to_s(:delimited)}
                    %figcaption 
                      .main__item__box__list__women__item__box__image__sold-out SOLD
                      .main__item__box__list__women__item__box__image__sold-out::after
                - else item.status == 0
                  .main__item__box__list__women__item__box__image
                    = image_tag item.images[0].image_url,{width:'100%' , height:'100%'}
                    .main__item__box__list__women__item__box__image__place            
                      .main__item__box__list__women__item__box__image__place__language
                        ¥#{item.price.to_s(:delimited)}
                .main__item__box__list__women__item__box__text
                  .main__item__box__list__women__item__box__text__language
                    = item.name
.main__saleButton
  = link_to new_item_path do
    = image_tag "salebutton2.png",class:"sale-size"
.main__bottom
  = render "bottom"
.main__footer
  = render "footer"